.Hero{
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    background-image: linear-gradient( 180.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% );
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 100px;
    line-height: 1.5;
}
.hero-left h2{
    font-size: 65px;
    font-weight: 600;
    
}
.hero-left p{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    
    

}
/* .hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;  
} */
/* .hand-icon img{
    width: 100px;
} */
.hero-latest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff4141;
    border-radius: 10px;
    margin-top: 25px;
    gap: 15px;
    width: 220px;
    cursor: pointer;
    color: white;
    font-size:15px;
    font-weight: 300;
    height: 35px;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    height: 100vh;
   
}


