.productdisplay{
    display: flex;
    margin: 20px 150px;
}
.productdisplay-left{
    display: flex;
    gap: 18px;

}
.productdisplay-img-list{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.productdisplay-img-list img{
    height: 160px;
}
.productdisplay-main-img{
    height: 700px;
    width: 580px;
} 
.productdisplay-right{
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    color: #1c1c1c;
    margin-top: 12px;
}
.productdisplay-right-prices{
    display: flex;
    align-items: center;
    gap: 15px;  
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    text-decoration: line-through;
    color: lightgrey;
}
.productdisplay-right-price-new{
    color:#ff4141;
}
.productdisplay-right-size h1{
  margin-top: 40px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    gap: 15px ;
    margin:20px 0px;
}
.productdisplay-right-sizes div{
    background: #fbfbfb;
    padding: 18px 24px;
    border: 1px solid wheat;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 20px ;
    background-color: #ff4141;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.praductdisplay-right-category{
    margin-top:20px;
}
.praductdisplay-right-category span{
    font-weight: 600;
}